  <section class="fale-conosco">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Chega aí!</h2>
                <hr>
                <p class="mb-5">Conheça as principais trilhas do Rio de Janeiro, aventure-se com total segurança e viva uma experiência única. Podemos montar roteiros personalizados também.</p> 
                <p>Consulte nossa equipe para mais informações.</p>
                <hr class="mb-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3" style="color:#0000ff"></i>
                <div>+55 (21) 12345-6789</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3" style="color:#0000ff"></i>
                <a class="d-block">trilhas@fale-conosco.com</a>
            </div>
        </div>
    </div>  
</section>