.fale-conosco {
    background-color: rgba(255, 255, 255, 0.637);
    padding-top: 50px;
    margin-top: 60px;
    height: 100vh;
    position: fixed;
    width: 100%;
}

hr {
    width: 150px;
    height: 2px;
    background-color: blue;
}

a {
    color: black;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: blue;
}

@media (max-width: 767px){
    .fale-conosco {
        margin-top: 90px;
    }
}