<div id="side">
    <div id="slicebar">
        <div class="barOption" role="button">
            <div>icono</div>
            <span id="barContent-1" class="barContent">Conteúdo</span>
        </div>
        <div class="barOption" role="button">
            <div>icono</div>
            <span id="barContent-2" class="barContent">Conteúdo</span>
        </div>
        <div class="barOption" role="button">
            <div>icono</div>
            <span id="barContent-3" class="barContent">Conteúdo</span>
        </div>
    </div>
</div>