<!-- <nav>
    <div class="content-busqueda">
        <a href="">
            <i id= "3bar" class="fas fa-bars" style="font-size:25px;color:#e8eaed;padding-left:20px;"></i>
        </a>
        <div>
            <h1 class="text-center text-white">Trilhas</h1>
        </div>
        <a href="">
            <i class="fas fa-home" style="font-size:25px;color:#e8eaed;padding-right:25px;"></i>
            
        </a>
    </div>
</nav> -->

<div id="contentnavbar">
    <div id="barraSup-1">
        <div id="hamburger" aria-expanded="true" role="button" onclick="toggle()">
            <svg viewBox="0 0 100 75" width="24" height="24" >
                <rect width="100" height="10" rx="8" fill="#ffffff"></rect>
                <rect y="25" width="100" height="10" rx="8" fill="#ffffff"></rect>
                <rect y="50" width="100" height="10" rx="8" fill="#ffffff"></rect>
            </svg>
        </div>
        <div id="logo" >
            <p style="margin:0">Logo</p>
        </div>
    </div>

    <div id="barraSup-2">
        <div id="barraPesquisa">
            Barra de pesquisa
        </div>
    </div>

    <div id="barraSup-3">
        <nav>Barra de navegación</nav>
    </div>
</div>