
/* Estilização Barra Superior */
#contentnavbar {
    background-image: linear-gradient(to bottom, #f1f1f10f, #2DC7ED);
    opacity: 0.9;
    color: #ffffff;

    width: 100%;
    height: 64px;
    padding: 8px;

    display: flex;

    position: fixed;
    z-index: 100;

    box-shadow: inset 0 -1px 0 0 #dadce0;
}
#barraSup-1 {
    min-width: 232px;
    width: 25%;
    padding-right: 30px;

    display: flex;
}
#hamburger {
    box-sizing: border-box;
    padding: 12px;
    width: 48px;
    height: 48px;

    border-radius: 50%;

    background-image: linear-gradient(to bottom, #2DC7ED, #538BF0);
}
#hamburger:hover {
    background-image: linear-gradient(to bottom, #538BF0, #2DC7ED);
}
#hamburger:active {
    animation: opacityChange 10s 1;
}
@keyframes opacityChange {
    0% {opacity: 0.2;}
    15% {opacity: 1;}
    100% {opacity: 1;}
}


#logo {
    margin: auto;
}

#barraSup-2 {
    width: 50%;

    display: flex;
}
#barraPesquisa{
    margin: auto;
}

#barraSup-3 {
    width: 25%;

    display: flex;
}
#barraSup-3 nav {
    margin: auto;
}