<app-list-tasks (sendPosition)="getPositions($event)"></app-list-tasks>

<div class="modal fade mt-5 pt-5" id="editModal" tabindex="-1" role="dialog" aria-label="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="">Title</label>
                        <input *ngIf="taskFound" type="text" name="title" class="form-control" [(ngModel)]="taskFound.title">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <textarea *ngIf="taskFound" class="form-control" name="description" [(ngModel)]="taskFound.description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editTask()">Save Changes</button>
            </div>
        </div>
    </div>
</div>