<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Destinos</h3>
    </div>
    <div class="card-body">
        <form #myForm>
            <div class="form-group">
                <label for="">Nome do destino</label><input type="text" class="form-control form-control-sm" name="title"
                [(ngModel)]="newTask.title">
            </div>
            <div class="form-group">
                <label for="">Descrição do destino</label>
                <textarea class="form-control form-control-sm" rows="2" name="description" [(ngModel)]="newTask.description"></textarea>
            </div>
            <div class="form-group">
                <label for="">Tempo médio:</label>
                <div class="col-sm-20">
                    <input type="text" class="form-control form-control-sm" name="tempo"
                    [(ngModel)]="newTask.tempo">
                </div>
            </div>
            <div class="form-group">
                <label for="">Distância:</label>
                <div class="col-sm-20">
                    <input type="text" class="form-control form-control-sm" name="distancia"
                    [(ngModel)]="newTask.distancia">
                </div>
            </div>
            <div class="form-group">
                <label for="">Altura:</label>
                <div class="col-sm-20">
                    <input type="text" class="form-control form-control-sm" name="altura"
                    [(ngModel)]="newTask.altura">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1" >Dificuldade:</label>
                <select class="form-control form-control-sm" id="exampleFormControlSelect1" name="dificuldade"
                [(ngModel)]="newTask.dificuldade">
                    <option>Leve</option>
                    <option>Moderado</option>
                    <option>Pesado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Link da imagem:</label>
                <div class="col-sm-20">
                    <input id="imagem" type="text" class="form-control form-control-sm" name="imagem"
                    [(ngModel)]="newTask.imagem">
                </div>
            </div>
            
              

            <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="addTask()" >Criar destino</button>
        </form>
    </div>
</div>