mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    position: fixed;
}
.mat-drawer-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    z-index: 3;
    visibility: hidden;
}

mat-sidenav {
    width: 159px;
}

app-header{
    position: fixed;
    z-index: 2;
}

/* #sidenav, app-sidenav {
    position: fixed;
    z-index: 3;
} */

main {
    background-image: url("./../assets/06.jpg");
    width: 100%;
    background-attachment: fixed;
    overflow: auto ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

/* ::-webkit-scrollbar {
    width: 7px;
    background: #202124a9;

}

::-webkit-scrollbar-thumb {
    background: #386fe6;
    border-radius: 7px;
} */