<app-navbar (toggle)="toggleBar($event)"
(slice)="slice"></app-navbar>

<div id="cont">

    <div id="side" #side>
        <div id="slicebar" #sliceBar>
            <div class="barOption" role="button">
                <div><img src="../../assets/icons/home-icon.svg" alt="home-icon" width="32" height="32"></div>
                <span 
                    id="barContent-1" 
                    class="barContent" 
                    [ngStyle]="{ 
                        'opacity': opacity,
                        'visibility': visibility
                    }"
                >
                    Home
                </span>
            </div>
            <div class="barOption" role="button">
                <div><img src="../../assets/icons/recommended-icon.svg" alt="recommended-icon" onclick="console.log('hola')" width="32" height="32"></div>
                <span 
                    id="barContent-2" 
                    class="barContent"
                    [ngStyle]="{ 
                        'opacity': opacity,
                        'visibility': visibility
                    }"
                >
                    Recomendadas
                </span>
            </div>
            <div class="barOption" role="button">
                <div><img src="../../assets/icons/search-icon.svg" alt="search-icon" width="32" height="32"></div>
                <span 
                    id="barContent-2" 
                    class="barContent"
                    [ngStyle]="{ 
                        'opacity': opacity,
                        'visibility': visibility
                    }"
                >
                    Búsqueda
                </span>
            </div>
            <div class="barOption" role="button">
                <div><img src="../../assets/icons/trilhas-icon.svg" alt="trilhas-icon" width="32" height="32"></div>
                <span 
                    id="barContent-3" 
                    class="barContent"
                    [ngStyle]="{ 
                        'opacity': opacity,
                        'visibility': visibility
                    }"
                >
                    Trilhas
                </span>
            </div>
        </div>
    </div>

</div>