
#cont {
    padding-top: 64px;

    display: flex;
    flex-direction: column;
}

/* Estilização Barra Lateral */
#side {
    min-width: 80px;
    transition: width .5s, min-width .5s;

    position: relative;
}
#slicebar {
    background-image: linear-gradient(to right, #f1f1f10f, #2DC7ED);

    color: #ffffff;

    width: 80px;
    height: calc(100vh - 64px);
    transition: width .5s, min-width .5s;

    position: fixed;
    z-index: 100;

    box-shadow: inset -1px 0 0 0 #dadce0;
}
.barOption {
    width: 100%;
    height: 48px;
    padding-left: 12px;

    font-weight: 500;
    line-height: 1.25rem;

    display: flex;
    align-items: center;
}
.barOption:hover {
    background-image: linear-gradient(to right, #2DC7ED, #f1f1f10f);
}
.barContent {
    margin: auto;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 4s;
}

@media screen and (max-width: 767px) {
    #cont, #side, #sliceBar {
        visibility: hidden;
        min-width: 0px;
        width: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    #cont, #side, #sliceBar {
        visibility: visible;
        min-width: 80px;
        width: 80px;
    }
  }