.container1 {
    margin-top: 15px;
    margin-left: 80px;
}

.Meu{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.767);
    color: black;
    border-radius: 5px;
    margin: auto;
}

.visible{
    display: block;
}
.visible1{
    margin-top: 10px;
    display: none;
}

.btn-delet {
    color: rgb(255 255 255);
    background-color: #1b1b1b;
    border-color: #272727;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    border: 1px solid rgb(0 0 0 / 0%);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    align-items: flex-start;
    margin-left: 8px;
}

.btn-delet:hover {
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #f10000;
    border-color: #ec0000;
    box-shadow: black;
}

@media (max-width: 767px) {
    .container1 {
        margin-top: 60px;
        margin-left: 0px;
    }
    .visible {
        display:none;
    }
    .visible1 {
        display:block;
    }
}