<div class="container1">
    <div class="container-md col-md-12 visible">
        <h2 class="Meu col-md-4">Meus destinos</h2>
    </div>
    
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <!-- <app-newTask></app-newTask> -->
            </div>
            <div class="container-md col-md-12 visible1">
                <h2 class="Meu col-md-4">Meus destinos</h2>
            </div>
            <div class="col-md-4 mt-4" *ngFor="let task of Trilhas.Tasks; let i = index">
                <div class="card" >
                    <img class="card-img-top " src='{{ task.imagen }}' alt="Card image cap" (click)="getPositions(task.id)">
                    <div class="card-body">
                      <h5 class="card-title">{{task.title}}</h5>
                      <p class="card-text">{{task.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item form-control-sm">Tempo médio: {{task.tempo}}</li>
                      <li class="list-group-item form-control-sm">Distância: {{task.distancia}} km</li>
                      <li class="list-group-item form-control-sm">Altura: {{task.altura}} m</li>
                      <li class="list-group-item form-control-sm">Dificuldade: {{task.dificuldade}}</li>
                    </ul>
                    <div class="card-body row justify-content-around">
                        <button type="button" class="btn btn-warning" (click)="getPositions(task.id)" data-toggle="modal" data-target="#editModal"><i style="font-size:24px;color:#000000" class="fas">&#xf303;</i></button>
                        <button type="button" class="btn btn-danger ml-2" (click)="deleteTask(task.id)"><i style="font-size:24px;;color:#ffffff" class="fa">&#xf1f8;</i></button>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    
</div>