/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/06.jpg");
    width: 100vw;
    background-attachment: fixed;
    overflow: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
