/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/06.jpg");
    width: 100%;
    background-attachment: fixed;
    overflow: auto ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 7px;
    background: #202124a9;

}

body::-webkit-scrollbar-thumb {
    background: #386fe6;
    border-radius: 7px;
}