 <section class="sobre-nos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Sobre nós</h2>
                <hr>
                <p> Somos referência em trilhas no Rio de Janeiro.</p>
                <p>Nos destacamos por possuir o melhor aplicativo que precisa o trilhero. Venha conosco se aventurar com segurança e ainda vivenciar uma experiência inesquecível.</p>                              
                <p>Trilhas, turismo com responsabilidade e consciência ambiental.</p>   
            </div>
        </div>
        <div class="link">
                <a class="github" href="https://github.com/fjavier02" target="_blank">
                    <img src="https://avatars1.githubusercontent.com/u/72283054?s=460&u=81c86e639aff4dc3b844b9720ddab2445bd17197&v=4" alt="avatar git">
                </a>
    
                <a class="github" href="https://github.com/jpasi" target="_blank">
                    <img src="https://avatars2.githubusercontent.com/u/72283720?s=400&u=4fecb3979e4f5c232af2727b980316b55ec45b73&v=4" alt="avatar git" >
                </a>
            
                <a class="github" href="https://github.com/jovinoguerrero" target="_blank">
                    <img src="https://avatars0.githubusercontent.com/u/66238089?s=400&u=d0dfcdb1b56c4e3176b4bab5d3d6d5ea13427496&v=4" alt="avatar git">
                </a>
            
                <a class="github" href="https://github.com/Yairix" target="_blank">
                    <img src="https://avatars0.githubusercontent.com/u/71412247?s=400&u=1944e15c2cbfcc5c0aa1ec9583264a51f03ca34c&v=4" alt="avatar git">
                </a>
        </div>
                <hr class="mb-1">
    </div>
</section>