<article class="container">
    <div class="col-sm-12 pt-5">
        <div class="row justify-content-center">
            <div class="col-6 mt-2">
                <figure>
                    <a href="https://github.com/fjavier02" target="_blank">
                        <img src="https://avatars1.githubusercontent.com/u/72283054?s=460&u=81c86e639aff4dc3b844b9720ddab2445bd17197&v=4" alt="avatar git">
                    </a>
                    <h4>Francisco Lopez</h4>
                </figure>
            </div>
            <div class="col-6 mt-2">
                <figure>
                    <a href="https://github.com/jpasi" target="_blank">
                        <img src="https://avatars2.githubusercontent.com/u/72283720?s=400&u=4fecb3979e4f5c232af2727b980316b55ec45b73&v=4" alt="avatar git">
                    </a>
                    <h4>Jesus Pasillas </h4>
                </figure>
            </div>
            <div class="col-6 mt-2">
                <figure>
                    <a href="https://github.com/jovinoguerrero" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/66238089?s=400&u=d0dfcdb1b56c4e3176b4bab5d3d6d5ea13427496&v=4" alt="avatar git">
                    </a>
                    <h4>Jovino Guerrero</h4>
                </figure>
            </div>
            <div class="col-6 mt-2">
                <figure>
                    <a href="https://github.com/Yairix" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/71412247?s=400&u=1944e15c2cbfcc5c0aa1ec9583264a51f03ca34c&v=4" alt="avatar git">
                    </a>
                    <h4>Yairina Boada</h4>
                </figure>
            </div>
        </div>
    </div>
</article>




