.sobre-nos {
    background-color: rgba(255, 255, 255, 0.637);
    padding-top: 50px;
    margin-top: 60px;
    height: 100vh;
    position: fixed;
    width: 100%;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #0000ff;
}

.link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 65px;
    border-radius: 100%;
    margin: 10px;
}

.github:hover {
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 100%;
    background-color: rgba(69, 130, 223, 0.562);
}

@media (max-width: 767px){
    .sobre-nos {
        margin-top: 90px;
    }
}

@media (max-width: 390px){
    .link {
        display: flex;
        flex-wrap: wrap;
    }

    img {
        margin: 30px;
    }
}